html,
body {
  padding: 0;
  margin: 0;
  height: 100vh !important;
}

#__next {
  height: 100vh !important;
}

#aladin-lite-div .aladin-popup-container {
  width: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none !important;
}

.invert-color {
  filter: invert(83%);
}

.invert-color-dark {
  filter: invert(95%);
}